<h2>New Movie</h2>

<form method="POST" action="/movie/create">
    <label>Title:<input name="title"></label>
    <label>Genre:<input name="genre"></label>
    <label>Plot:<input name="plot"></label>
    <label>Cast:<input name="cast"></label>

    <button type="submit">Submit</button>
</form>